        body {
            background-color: rgb(61, 61, 61);
            color: white;
            text-align: center;
        }

        .video {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .video a {
            text-decoration: none;
            color: white;
            margin-top: 20px;
            font-size: 20px;
        }

        .video a:hover{
            text-decoration: underline;
        }