@charset "UTF-8";

/* Configurações Globais: */

* {
    /* height: 100%; */
     font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-image: linear-gradient(to right, #6c4fd3bb, #8c41be, #5226b9);
}

p {
    text-align: justify;
}

h1 {
    color: #5234be;
    text-align: center;
    text-shadow: 1px 1px 2px #301f6ec2;
}

h2 {
    color: #5a5f29;
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto; /* centraliza */
    border-radius: 20px;
    box-shadow: 7px 7px 15px #39236ebe;
    
}